In [1]:
import pandas as pd
from Lab2.GeneticAlgorithm import GeneticAlgorithm

In [2]:
results=[]
for i in range(25):
    g=GeneticAlgorithm()
    g.generateRandomPopulation(100)
    bestIndScore=g.geneticAlgorithm(50,100,5,50) #pM, steps of evolution, function (4 or 5), size of elite
    #bestIndScore=g.geneticAlgorithm2(5,1000)
    results.append(bestIndScore)
mean=sum(results)/len(results)
print(mean)

596.900854406726

In [3]:
df=pd.DataFrame(results)
df

             0
0   582.104840
1   576.813406
2   595.912437
3   574.965034
4   593.026452
5   591.092476
6   579.239923
7   608.127655
8   609.324467
9   603.478519
10  596.366146
11  608.435690
12  588.435311
13  602.985696
14  592.084475
15  606.324917
16  603.097757
17  595.375728
18  605.658076
19  606.261750
20  606.759895
21  615.031608
22  590.644790
23  593.746566
24  597.227748

In [4]:
print(df[0].mean())
print(df[0].std())
print(df[0].max())
print(df[0].min())

596.900854406726
10.845691459619063
615.0316084776337
574.9650335073457