In [4]:
import pandas as pd
from Lab2.GeneticAlgorithm import GeneticAlgorithm

In [31]:
results=[]
for i in range(25):
    g=GeneticAlgorithm()
    g.generateRandomPopulation(1000)
    bestIndScore=g.geneticAlgorithm(5,10,4,500)
    #bestIndScore=g.geneticAlgorithm2(5,1000)
    results.append(bestIndScore)
mean=sum(results)/len(results)
print(mean)

IndexError: list index out of range

In [26]:
df=pd.DataFrame(results)
df

              0
0   2046.585748
1   2788.478934
2    902.519703
3   1944.123621
4   1374.568603
5   1686.371656
6    944.825830
7    967.880495
8    662.278123
9   1544.638801
10  2191.597813
11  2087.168771
12   576.064177
13  1865.671917
14  1067.779415
15  1350.492927
16   534.794972
17  1116.288586
18  1025.297805
19  2096.746802
20  1524.108418
21   814.715321
22  1473.173377
23  1023.433263
24   917.690097

In [27]:
print(df[0].mean())
print(df[0].std())

1381.0918069479633
585.3178205096024