In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from ID3 import ID3

# Breast cancer dataset

In [2]:
df=pd.read_csv("breast-cancer.csv", header=None)
df=df.rename(columns={0:"class",1:"age", 2:"menopause", 3:"tumor-size", 4:"inv-nodes", 5:"node-caps", 6:"deg-malig",7:"breast", 8:"breast-quad",9:"irradiat"})
print(df.shape)
Y=df.iloc[:,0:1]
X=df.iloc[:,1:]

(286, 10)

In [3]:
xTrain, xTest, yTrain, yTest= train_test_split(X,Y,test_size=100,random_state=111)

In [4]:
id3=ID3()
id3.train(xTrain,yTrain)

In [5]:
res=id3.predict(xTest)

In [6]:
new_index = list(range(len(yTest.index)))
yTest.index=new_index
resultDf=pd.concat([res,yTest],axis=1)
resultDf["Is Correct"]=(resultDf["Predictions"]==resultDf["class"])
resultDf

             Predictions                 class  Is Correct
0   no-recurrence-events     recurrence-events       False
1   no-recurrence-events  no-recurrence-events        True
2   no-recurrence-events  no-recurrence-events        True
3   no-recurrence-events     recurrence-events       False
4   no-recurrence-events     recurrence-events       False
..                   ...                   ...         ...
95  no-recurrence-events  no-recurrence-events        True
96  no-recurrence-events  no-recurrence-events        True
97  no-recurrence-events  no-recurrence-events        True
98  no-recurrence-events  no-recurrence-events        True
99  no-recurrence-events  no-recurrence-events        True

[100 rows x 3 columns]

In [7]:
liczbaPoprawnych=resultDf["Is Correct"].sum()
procent=liczbaPoprawnych/len(resultDf.index)*100
print("Liczba trafionych: "+ str(liczbaPoprawnych) + ", procent poprawnych: " + str(procent))

Liczba trafionych: 65, procent poprawnych: 65.0

# Grzybki

In [8]:
df=pd.read_csv("agaricus-lepiota.csv")
print(df.shape)
X=df.iloc[:,1:]
Y=df.iloc[:,0:1]
Xtrain, Xtest, Ytrain, Ytest=train_test_split(X,Y,test_size=3000,random_state=213)

(8123, 23)

In [9]:
id3=ID3()
id3.train(Xtrain,Ytrain)

In [10]:
res=id3.predict(Xtest)
res

     Predictions
0              p
1              e
2              p
3              p
4              p
...          ...
2995           p
2996           e
2997           e
2998           p
2999           p

[3000 rows x 1 columns]

In [11]:
new_index = list(range(len(Ytest.index)))
Ytest.index=new_index
resultDf=pd.concat([res,Ytest],axis=1)
resultDf["Is Correct"]=(resultDf["Predictions"]==resultDf["p"])
resultDf

     Predictions  p  Is Correct
0              p  p        True
1              e  e        True
2              p  p        True
3              p  p        True
4              p  p        True
...          ... ..         ...
2995           p  p        True
2996           e  e        True
2997           e  e        True
2998           p  p        True
2999           p  p        True

[3000 rows x 3 columns]

In [12]:
liczbaPoprawnych=resultDf["Is Correct"].sum()
procent=liczbaPoprawnych/len(resultDf.index)*100
print("Liczba trafionych: "+ str(liczbaPoprawnych) + ", procent poprawnych: " + str(procent))

Liczba trafionych: 2988, procent poprawnych: 99.6

## Jakim grzybkiem jest Zuzia?

In [14]:
zuzia=pd.read_csv("zuzia.csv")
id3.predict(zuzia)

  Predictions
0           e
1           p
2           p
3           e
4           p